<!-- File upload component fragment: 모양(type)과 밀도(variant)를 독립적으로 선택합니다. -->
<div class="upload-zone" data-file-upload-zone role="button" tabindex="0" aria-label="파일을 드래그하거나 클릭하여 업로드">
	<svg class="upload-zone-default-icon" viewBox="0 0 24 24" aria-hidden="true">
		<path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4" />
		<polyline points="17 8 12 3 7 8" />
		<line x1="12" y1="3" x2="12" y2="15" />
	</svg>
	<span class="upload-zone-icon" data-slot="icon" aria-hidden="true">
		<img src="../../assets/icons/copy.svg" data-icon="copy" alt="" />
	</span>
	<p class="upload-text"><span data-slot="title"></span></p>
	<span class="upload-hint"><span data-slot="content"></span></span>
	<div data-slot="input"></div>
</div>
